<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Telica</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/favicon.ico">
  <script src="/js/font.js"></script>
</head>
<body>
  <a href="/">Telica</a>
  <form action="/result" method="GET">
    <div class="input_form">
      <div class="price_label">
        <input type="text" name="price"></input>
        <p>円を</p>
      </div>
      <div class="count_label">
        <input type="text" name="count"></input>
        <p>人で</p>
      </div>
    </div>
    <input type="submit" value="割り勘"></input>
  </form>
  <div class="circle_one"></div>
  <div class="circle_two"></div>
  <img src="/img/bilson.png">
</body>
</html>
