<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Telica</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/favicon.ico">
  <script src="/js/font.js"></script>
</head>
<body>
  <a href="/">Telica</a>
  <div class="result_form">
    <p>一人当たり</p>
    <div class="result">
      <p><%= @result%></p>
      <p>円</p>
    </div>
  </div>
  <div class="circle_three"></div>
  <div class="circle_four"></div>
  <div class="circle_five"></div>
  <img class="result_bilson" src="/img/bilson.png">
</body>
</html>
